asn1crypto==0.22.0
cffi==1.10.0
click==6.7
clyent==1.2.2
conda==4.3.23
cryptography==1.8.1
Flask==1.0.2
gunicorn==19.8.1
idna==2.5
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
packaging==16.8
pycosat==0.6.2
pycparser==2.18
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
requests==2.14.2
six==1.10.0
Werkzeug==0.14.1